# This project was a cross-team effort requiring knowledge of GOV.UK PaaS and
# the Cyber kinesis logging pipeline for splunk ingestion and is now owned by both teams.
* @alphagov/reliability-engineering @alphagov/team-cybersecurity
